@model IEnumerable<Loyalty>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>List Loyalty levels</h2>

<form method="post" action="/Loyalty/Put">
    <div class="d-flex flex-row">
        <div class="form-group mr-4 mb-3">
            <label for="Level">Level <small class="text-danger"> (requied)</small></label>
            <input type="text" name="Level" class="form-control" id="Level" aria-describedby="emailHelp" required>
                
        </div>
       
        <div class="form-group mr-4 mb-3">
            <label for="Annotation">Annotation <small class="text-danger"> </small></label>
            <input type="text" name="Annotation" class="form-control" id="Annotation" >
        </div>
        <div class="d-flex flex-column justify-content-end mb-3"><button type="submit" class="btn btn-primary">Submit</button></div>
    </div>
</form>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Level</th>
            <th scope="col">Annotation</th>
         
        </tr>
        </thead>
        <tbody>
        @foreach (var loyalty in this.Model)
        {
            <tr>
                <th scope="row">@loyalty.Id</th>
                <td>@loyalty.Level</td>
                <td>@loyalty.Annotation</td>
            
            </tr>
        }
        </tbody>
    </table>
</div>